<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Messages <%= numMessages %></h1>
    <button onclick="location.href='/new';">Submit new message</button>
    <% messages.forEach(message => { %>
      <div style="margin-top: 40px; border: 2px solid grey;">
        <blockquote><%= message.text %></blockquote>
        <p><strong><%= message.user %></strong></p>
        <p>Posted: <%= message.posted %></p>
      </div>
    <% }); %>
  </body>
</html>
